@model Album

<h2>Album Details</h2>

<div>
    <h4>Title: @Model.Title</h4>
    <h4>Artist: @Model.Artist</h4>
    <h4>Rating: @Model.Rating</h4>
</div>

<p>
    <a asp-action="Index">Back to Album List</a>
</p>