@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Record Collection</h1>
    <h3>@Html.ActionLink("All Albums", "Index", "Albums")</h3>
</div>
